<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/fragments/common :: common-head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/product/productSearchList.css}">
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>


<div class="product-header">
    <h1 class="search-text"></h1>
</div>
<div class="product-summary">
    <span class="totalProducts"></span>
    <select id="sortOptions" class="form-select" aria-label="Default select example">
        <option value="default">선택</option>
        <option value="price_asc">낮은 가격순</option>
        <option value="price_desc">높은 가격순</option>
    </select>
</div>

<div class="search-container" id="resultsContainer">

</div>

<div th:replace="~{layout/footer :: footer}"></div>
<div th:replace="~{layout/fragments/common :: common-scripts}"></div>

<script>
    let isLoadingGetProduct = false;
    let isLastGetProduct = false;
    let productName = "[[${productName}]]";
    let prefItem = "[[${prefItem}]]";
    let pageSize = 20;
    let currentPage = 1;

    $(document).ready(function() {
        const savedSortOption = localStorage.getItem('sortOption');
        if (savedSortOption) {
            $('#sortOptions').val(savedSortOption);
        }

        fetchAndDisplayProducts();

        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                fetchAndDisplayProducts();
            }
        });

        $('#sortOptions').change(function() {
            const selectedOption = $(this).val();
            localStorage.setItem('sortOption', selectedOption);

            currentPage = 1;
            $('#resultsContainer').empty();
            fetchAndDisplayProducts();
        });

    });

    function fetchAndDisplayProducts() {
        if (productName && prefItem) {
            fetchRelatedProducts();
        }
    }

    function fetchRelatedProducts() {
        if (isLoadingGetProduct || isLastGetProduct) return;
        isLoadingGetProduct = true;

        $.ajax({
            url: '/api/products/related-search',
            method: 'GET',
            data: {
                productName: productName,
                prefItem: prefItem,
                size: pageSize,
                page: currentPage,
                sort: $('#sortOptions').val()
            },
            success: function(data) {
                console.log(data);

                if (currentPage === 1) {
                    $('.search-text').text(`'${data.queryText}'에 대한 검색결과`);
                    $('.totalProducts').text(`전체 ${data.totalItems}개`);
                }

                displayProducts(data);

                if (data.totalPages === currentPage) {
                    isLastGetProduct = true;
                }

                currentPage++;
                isLoadingGetProduct = false;
            },
            error: function(error) {
                console.log('Error fetching related products:', error);
                isLoadingGetProduct = false;
            }
        });
    }

    function displayProducts(data) {
        let $resultsContainer = $('#resultsContainer');

        if (data && data.products && data.products.length > 0) {
            data.products.forEach(function (product) {
                let priceText = product.price === -1 ? "가격 문의" : product.price.toLocaleString() + '원';
                let displayName = product.pname.length > 35 ? product.pname.substring(0, 35) + '...' : product.pname;
                let productHtml = `
                    <div class="product-item" data-prefitem="${product.prefitem}">
                        <img class="product-image" src="${product.bigImage || '/images/noimage.gif'}" alt="${product.pname}">
                        <h3 class="product-name">${displayName}</h3>
                        <p class="product-price">${priceText}</p>
                    </div>
                `;
                $resultsContainer.append(productHtml);
            });

            $('.product-item').click(function() {
                const prefItem = $(this).data('prefitem');
                window.location.href = `/product/detail/${prefItem}`;
            });
        }
    }
</script>

</body>
</html>