<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/fragments/common :: common-head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/product/productSearch.css}">
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>

<div class="search-container">
    <div id="resultsContainer"></div>
</div>

<div th:replace="~{layout/footer :: footer}"></div>
<div th:replace="~{layout/fragments/common :: common-scripts}"></div>

<script>
    let isLoadingGetProduct = false;
    let productName = "[[${productName}]]";
    let prefItem = "[[${prefItem}]]";
    let pageSize = 20;
    let currentPage = 1;

    $(document).ready(function() {
        fetchAndDisplayProducts();

        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                fetchAndDisplayProducts();
            }
        });


    });

    function fetchAndDisplayProducts() {
        if (productName && prefItem) {
            fetchRelatedProducts(productName, prefItem, pageSize, currentPage);
        }
    }

    function fetchRelatedProducts(productName, prefItem, size, page) {
        if (isLoadingGetProduct) return;
        isLoadingGetProduct = true;

        $.ajax({
            url: '/api/products/related-search',
            method: 'GET',
            data: {
                productName: productName,
                prefItem: prefItem,
                size: size,
                page: page
            },
            success: function(data) {
                console.log(data);
                displayProducts(data);
                isLoadingGetProduct = false;
                currentPage++;
            },
            error: function(error) {
                console.log('Error fetching related products:', error);
                isLoadingGetProduct = false;
            }
        });
    }

    function displayProducts(data) {
        let $resultsContainer = $('#resultsContainer');

        if (data && data.products && data.products.length > 0) {
            data.products.forEach(function(product) {
                let productHtml = '<div class="product-item">' +
                    '<img src="' + product.bigImage + '" alt="' + product.pname + '" style="width:100px;height:auto;">' +
                    '<h3>' + product.pname + '</h3>' +
                    '<p>' + product.ptechdescription.split('^').join('<br>') + '</p>' +
                    '</div>';
                $resultsContainer.append(productHtml);
            });
        }
    }
</script>

</body>
</html>