<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/fragments/common :: common-head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/product/productCategoryList.css}">
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>


<div class="product-header">
    <h1 class="search-text"></h1>
</div>
<div class="product-summary">
    <span class="totalProducts"></span>
    <select id="sortOptions" class="form-select" aria-label="Default select example">
        <option value="name_asc" selected>낮은 이름순</option>
        <option value="name_desc">높은 이름순</option>
        <option value="price_asc">낮은 가격순</option>
        <option value="price_desc">높은 가격순</option>

    </select>
</div>

<div class="search-container" id="resultsContainer">

</div>

<div th:replace="~{layout/footer :: footer}"></div>
<div th:replace="~{layout/fragments/common :: common-scripts}"></div>

<script>
    let isLoadingGetProduct = false;
    let isLastGetProduct = false;
    // 1:인기 2:신규 999:카테고리
    let flag = [[${flag}]];
    let crefItem = "[[${crefItem}]]";
    let categoryName = "[[${categoryName}]]";
    let pageSize = 40;
    let currentPage = 0;

    $(document).ready(function() {
        $('.search-text').text('> '+ categoryName);

        const savedSortOption = localStorage.getItem('categorySortOption');
        if (savedSortOption) {
            $('#sortOptions').val(savedSortOption);
        }

        fetchAndDisplayProducts();

        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                fetchAndDisplayProducts();
            }
        });

        $('#sortOptions').change(function() {
            const selectedOption = $(this).val();
            localStorage.setItem('categorySortOption', selectedOption);

            currentPage = 0;
            $('#resultsContainer').empty();
            fetchAndDisplayProducts();
        });
    });

    function fetchAndDisplayProducts() {
        if (flag === 999) {
            fetchCategoryProducts();
        } else if (flag === 1) {
            fetchPopProducts();
        } else if (flag === 2) {
            fetchNewProducts();
        }
    }

    function fetchCategoryProducts() {
        if (isLoadingGetProduct || isLastGetProduct) return;
        isLoadingGetProduct = true;

        $.ajax({
            url: '/api/products/category',
            method: 'GET',
            data: {
                categoryId: crefItem,
                sort: $('#sortOptions').val(),
                page: currentPage,
                size: pageSize
            },
            success: function(data) {
                console.log(data);

                if (currentPage === 0) {
                    //$('.search-text').text(`'${data.queryText}'에 대한 검색결과`);
                    $('.totalProducts').text(`전체 ${data.totalElements}개`);
                }

                displayProducts(data);

                if (data.totalPages === currentPage) {
                    isLastGetProduct = true;
                }

                currentPage++;
                isLoadingGetProduct = false;
            },
            error: function(error) {
                console.log('Error fetching related products:', error);
                isLoadingGetProduct = false;
            }
        });
    }

    function fetchPopProducts() {

    }

    function fetchNewProducts() {

    }

    function displayProducts(data) {
        let $resultsContainer = $('#resultsContainer');

        if (data && data.content && data.content.length > 0) {
            data.content.forEach(function (product) {
                let priceText = product.bprice === -1 ? "가격 문의" : product.bprice.toLocaleString() + '원';
                let displayName = product.pname.length > 35 ? product.pname.substring(0, 35) + '...' : product.pname;
                let productHtml = `
                    <div class="product-item" data-prefitem="${product.prefItem}">
                        <img class="product-image" src="${product.bigImage || '/images/noimage.gif'}" alt="${product.pname}">
                        <h3 class="product-name">${displayName}</h3>
                        <p class="product-price">${priceText}</p>
                    </div>
                `;
                $resultsContainer.append(productHtml);
            });

            $('.product-item').click(function() {
                const prefItem = $(this).data('prefitem');
                window.location.href = `/product/detail/${prefItem}`;
            });
        }
    }
</script>

</body>
</html>