<div th:fragment="footer">
  <div class="fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <div class="d-flex justify-content-around align-items-center" style="height: 100%;">
        <a th:href="@{/main}" class="nav-link">
          <img src="/images/icons/footer/home.png" alt="Home" style="width: 24px; height: auto;">
        </a>
        <a href="#" class="nav-link">
          <img src="/images/icons/footer/orderlist.png" alt="Order List" style="width: 24px; height: auto;">
        </a>
        <a href="#" class="nav-link">
          <img src="/images/icons/footer/cart.png" alt="Cart" style="width: 24px; height: auto;">
        </a>
        <a href="#" class="nav-link">
          <img src="/images/icons/footer/search.png" alt="Search" style="width: 24px; height: auto;">
        </a>
      </div>
    </div>
  </div>
</div>
