<div th:fragment="footer">
  <div class="fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <div class="d-flex justify-content-around align-items-center" style="height: 100%;">
        <a th:href="@{/main}" class="nav-link">
          <img src="/images/icons/footer/home.png" alt="Home">
        </a>
        <a th:href="@{/order/orderList}" class="nav-link">
          <img src="/images/icons/footer/orderList.png" alt="Order List">
        </a>
        <a th:href="@{/cart/cartList}" class="nav-link">
          <img src="/images/icons/footer/cart.png" alt="Cart">
        </a>
        <a th:href="@{/product/search}" class="nav-link">
          <img src="/images/icons/footer/search.png" alt="Search">
        </a>
      </div>
    </div>
  </div>
</div>
