<div th:fragment="header">
    <nav class="navbar">
        <div class="container-fluid">
            <!-- 뒤로 가기 버튼 -->
            <button class="back-button" onclick="history.back();" style="display: none"><i class="fas fa-arrow-left"></i></button>
            <!-- 로고 -->
            <a class="navbar-brand" th:href="@{/main}">그린주의</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false">
<!--                <i class="fas fa-bars"></i>-->
                <img src="/images/icons/header/mypage.png" alt="myMenu" class="menu-icon">
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <a th:href="@{/mypage}" class="dropdown-item">마이페이지</a>
                <li><hr class="dropdown-divider"></li>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="dropdown-item">로그아웃</button>
                </form>
            </div>
        </div>
    </nav>
</div>
