@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #ffffff;
}

.main-content {
    margin-bottom: 130px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    padding: 10px;
    margin-top: 1em;
}

.image-container {
    width: 100%;
    background-color: #DADADA;
    padding: 6px;
    display: flex;
    flex-direction: column;  /* 요소들을 수직으로 쌓기 */
    justify-content: center; /* 세로 방향으로 중앙 정렬 */
    align-items: center;     /* 가로 방향으로 중앙 정렬 */
    border-radius: 17px;
}

#grid-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#grid-container div img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

#grid-container div p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: #000;
    text-align: center;
    font-family: 'TTLaundryGothicB', sans-serif;
}

.pop-products-header {
    display: flex;
    justify-content: space-between; /* 좌우 요소를 끝으로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.un-reg-products-header {
    display: flex;
    justify-content: space-between; /* 좌우 요소를 끝으로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.reg-products-header {
    display: flex;
    justify-content: space-between; /* 좌우 요소를 끝으로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.text-left {
    margin: 0; /* 기본 마진 제거 */
}

.pop-load-more-btn {
    padding: 2px 13px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-right: 5px;
}

.pop-load-more-btn:hover {
    background-color: #444;
}

.un-reg-load-more-btn {
    padding: 2px 13px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-right: 5px;
}

.un-reg-load-more-btn:hover {
    background-color: #444;
}

.reg-load-more-btn {
    padding: 2px 13px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-right: 5px;
}

.reg-load-more-btn:hover {
    background-color: #444;
}

.pop-products-container {
    position: relative;
    overflow: hidden; /* 컨테이너 밖으로 넘치는 내용 숨김 */
    margin-bottom: 30px;
}

.un-reg-products-container {
    position: relative;
    overflow: hidden; /* 컨테이너 밖으로 넘치는 내용 숨김 */
    margin-bottom: 30px;
}

.reg-products-container {
    position: relative;
    overflow: hidden; /* 컨테이너 밖으로 넘치는 내용 숨김 */
    margin-bottom: 30px;
}

.scroll-arrow {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    background: #000; /* 검은색 배경 */
    color: #fff; /* 흰색 텍스트 */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.scroll-arrow.left {
    left: 10px;
}

.scroll-arrow.right {
    right: 10px;
}

.product-pop-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin-left: 10px;
    padding-left: 5px;
}

.product-un-reg-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin-left: 10px;
    padding-left: 5px;
}

.product-reg-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin-left: 10px;
    padding-left: 5px;
}

.product-pop-grid::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.product-un-reg-grid::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.product-reg-grid::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.product-pop-item {
    flex: 0 0 auto; /* 각 아이템의 크기 조정 */
    margin-right: 10px; /* 아이템 간 간격 */
    width: 130px; /* 아이템의 너비를 고정 */
    height: 180px; /* 아이템의 높이를 고정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-un-reg-item {
    flex: 0 0 auto; /* 각 아이템의 크기 조정 */
    margin-right: 10px; /* 아이템 간 간격 */
    width: 130px; /* 아이템의 너비를 고정 */
    height: 180px; /* 아이템의 높이를 고정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-reg-item {
    flex: 0 0 auto; /* 각 아이템의 크기 조정 */
    margin-right: 10px; /* 아이템 간 간격 */
    width: 130px; /* 아이템의 너비를 고정 */
    height: 180px; /* 아이템의 높이를 고정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-pop-item img {
    width: 100%;
    height: 110px;
    object-fit: contain;
    margin-bottom: 5px;
}

.product-un-reg-item img {
    width: 100%;
    height: 110px;
    object-fit: contain;
    margin-bottom: 5px;
}

.product-reg-item img {
    width: 100%;
    height: 110px;
    object-fit: contain;
    margin-bottom: 5px;
}

.product-pop-item p {
    font-size: 0.8em; /* 텍스트 크기 조정 */
    margin: 0; /* 텍스트의 여백 제거 */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
}

.product-un-reg-item p {
    font-size: 0.8em; /* 텍스트 크기 조정 */
    margin: 0; /* 텍스트의 여백 제거 */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
}

.product-reg-item p {
    font-size: 0.8em; /* 텍스트 크기 조정 */
    margin: 0; /* 텍스트의 여백 제거 */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
}