.navbar {
    background-color: #f5f5f5;
    height: 5em;
}
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 0.1rem rgb(25, 135, 84, 0.5);
}
.navbar-brand {
    margin-left: 1em;
    color: #198754;
}

.dropdown-item {
    font-family: 'omyu_pretty', sans-serif;
    font-size: 1rem;
}

.back-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
}

.navbar-brand {
    margin-left: 40px;
}