<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common/fontawesome/all.min.css}">
    <link rel="preload" th:href="@{/css/common/font/omyu_pretty.woff2}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/common/font/font.css}">

    <style>
        body {
            font-family: 'omyu_pretty', sans-serif;
        }
    </style>

    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
</head>
<body th:fragment="common-scripts">
    <script src="/js/common/bootstrap.bundle.min.js"></script>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // 메인 페이지인 경우 '뒤로 가기' 버튼 숨기기
            var backButton = document.querySelector('.back-button');
            if (window.location.pathname === '/main' && backButton) {
                backButton.style.display = 'none';
            } else if (backButton) {
                // 메인 페이지가 아닌 경우 (또는 다른 조건), '뒤로 가기' 버튼 표시
                backButton.style.display = 'block';
            }
        });
    </script>

    <script src="/js/common/jquery-3.6.0.min.js"></script>
</body>
</html>
