<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2" as="font" type="font/woff2" crossorigin="anonymous">

    <style>
        @font-face {
            font-family: 'omyu_pretty';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
        body {
            font-family: 'omyu_pretty', sans-serif; /* 전체 페이지에 대한 기본 폰트 설정 */
        }
    </style>

    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
</head>
<body th:fragment="common-scripts">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // 메인 페이지인 경우 '뒤로 가기' 버튼 숨기기
            var backButton = document.querySelector('.back-button');
            if (window.location.pathname === '/main' && backButton) {
                backButton.style.display = 'none';
            } else if (backButton) {
                // 메인 페이지가 아닌 경우 (또는 다른 조건), '뒤로 가기' 버튼 표시
                backButton.style.display = 'block';
            }
        });
    </script>
</body>
</html>
