<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/fragments/common :: common-head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/user/main.css}">
</head>
<body>

    <div th:replace="~{layout/header :: header}"></div>

    <div class="main-content">
        <div id="grid-container">
            <div>
                <div class="image-container">
                    <img src="/images/icons/main/popitem.png" alt="인기상품">
                    <p>인기</p>
                </div>
            </div>

            <div>
                <div class="image-container">
                    <img src="/images/icons/main/newitem.png" alt="신규상품">
                    <p>신규</p>
                </div>
            </div>

            <div>
                <div class="image-container">
                    <img src="/images/icons/main/greenItem.png" alt="친환경제품">
                    <p>친환경</p>
                </div>
            </div>

            <div>
                <div class="image-container">
                    <img src="/images/icons/main/officeItem.png" alt="오피스제품">
                    <p>오피스</p>
                </div>
            </div>
        </div>

        <div class="reg-products-container">
            <h5 class="text-left ms-3 mt-4 mb-3">고객사 등록상품</h5>
        </div>

        <div class="un-reg-products-container">
            <h5 class="text-left ms-3 mt-4 mb-3">고객사 미등록상품</h5>
        </div>
    </div>

    <div th:replace="~{layout/footer :: footer}"></div>

    <div th:replace="~{layout/fragments/common :: common-scripts}"></div>

    <script>
        $(document).ready(function() {

        });
    </script>

</body>
</html>
