<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/fragments/common :: common-head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/user/main.css}">
</head>
<body>

    <div th:replace="~{layout/header :: header}"></div>

    <div class="main-content">
        <div id="grid-container">
            <div>
                <div class="image-container">
                    <a href="product/by-category?flag=1&crefItem=1&categoryName=인기상품" class="category-link">
                        <img src="/images/icons/main/popItem.png" alt="인기상품">
                        <p>인기</p>
                    </a>
                </div>
            </div>

            <div>
                <div class="image-container">
                    <a href="product/by-category?flag=2&crefItem=2&categoryName=신규상품" class="category-link">
                        <img src="/images/icons/main/newitem.png" alt="신규상품">
                        <p>신규</p>
                    </a>
                </div>
            </div>

            <div>
                <div class="image-container">
                    <a href="product/by-category?crefItem=1&categoryName=친환경제품" class="category-link">
                        <img src="/images/icons/main/greenItem.png" alt="친환경제품">
                        <p>친환경</p>
                    </a>
                </div>
            </div>

            <div>
                <div class="image-container">
                    <a href="product/by-category?crefItem=5071&categoryName=오피스제품" class="category-link">
                        <img src="/images/icons/main/officeItem.png" alt="오피스제품">
                        <p>오피스</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="pop-products-container">
            <div class="pop-products-header">
                <h5 class="text-left ms-3 mt-4 mb-3">인기 상품</h5>
                <button class="load-more-btn" id="pop-more">더보기</button>
            </div>

            <div class="scroll-arrow left" id="pop-scroll-left"><</div>
            <div class="product-pop-grid" id="product-pop-contents">

            </div>
            <div class="scroll-arrow right" id="pop-scroll-right">></div>
        </div>

        <div class="reg-products-container">
            <div class="reg-products-header">
                <h5 class="text-left ms-3 mt-4 mb-3">고객사 등록 상품</h5>
                <button class="load-more-btn" id="reg-more">더보기</button>
            </div>

            <div class="scroll-arrow left" id="reg-scroll-left"><</div>
            <div class="product-reg-grid" id="product-reg-contents">

            </div>
            <div class="scroll-arrow right" id="reg-scroll-right">></div>
        </div>

        <div class="un-reg-products-container">
            <div class="un-reg-products-header">
            <h5 class="text-left ms-3 mt-4 mb-3">고객사 미등록 상품</h5>
            <button class="load-more-btn" id="un-reg-more">더보기</button>
        </div>

        <div class="scroll-arrow left" id="un-reg-scroll-left"><</div>
        <div class="product-un-reg-grid" id="product-un-reg-contents">

            </div>
            <div class="scroll-arrow right" id="un-reg-scroll-right">></div>
        </div>
    </div>

    <div th:replace="~{layout/footer :: footer}"></div>
    <div th:replace="~{layout/fragments/common :: common-scripts}"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            updateInitialArrowVisibility();

            let regContainer = $('#product-reg-contents');
            let isLastRegProduct = false;
            let isLoadingRegProduct = false;
            let regProductPage = 0;
            let regProductSize = 30;

            let unRegContainer = $('#product-un-reg-contents');
            let isLastUnRegProduct = false;
            let isLoadingUnRegProduct = false;
            let unRegProductPage = 0;
            let unRegProductSize = 50;

            let popContainer = $('#product-pop-contents');
            let isLastPopProduct = false;
            let isLoadingPopProduct = false;
            let popProductPage = 0;
            let popProductSize = 50;

            function loadPopProductData() {
                if (isLoadingPopProduct || isLastPopProduct) return;
                isLoadingPopProduct = true;

                $.ajax({
                    url: 'api/products/popular',
                    type: 'GET',
                    data: {
                        page: popProductPage,
                        size: popProductSize
                    },
                    dataType: 'json',
                    success: function(data){
                        renderPopProducts(data.content);

                        if (data.last) {
                            isLastPopProduct = true;
                        }

                        popProductPage++;
                        isLoadingPopProduct = false;
                    },
                    error: function (xhr, status, error) {
                        console.error('데이터 로드 실패:', error);
                    }
                });
            }

            function updateInitialArrowVisibility() {
                $('#pop-scroll-left').hide();
                $('#reg-scroll-left').hide();
                $('#un-reg-scroll-left').hide();
            }


            function loadUnRegProductData() {
                if (isLoadingUnRegProduct || isLastUnRegProduct) return;
                isLoadingUnRegProduct = true;

                $.ajax({
                    url: 'api/products/unregistered',
                    type: 'GET',
                    data: {
                        page: unRegProductPage,
                        size: unRegProductSize
                    },
                    dataType: 'json',
                    success: function(data){
                        renderUnRegProducts(data.content);

                        if (data.last) {
                            isLastUnRegProduct = true;
                        }

                        unRegProductPage++;
                        isLoadingUnRegProduct = false;
                    },
                    error: function (xhr, status, error) {
                        console.error('데이터 로드 실패:', error);
                    }
                });
            }

            function loadRegProductData() {
                if (isLoadingRegProduct || isLastRegProduct) return;
                isLoadingRegProduct = true;

                $.ajax({
                    url: 'api/products/registered',
                    type: 'GET',
                    data: {
                        page: regProductPage,
                        size: regProductSize
                    },
                    dataType: 'json',
                    success: function(data){
                        renderRegProducts(data.content);

                        if (data.last) {
                            isLastRegProduct = true;
                        }

                        regProductPage++;
                        isLoadingRegProduct = false;
                    },
                    error: function (xhr, status, error) {
                        console.error('데이터 로드 실패:', error);
                    }
                });
            }

            function renderPopProducts(products) {
                let container = $('#product-pop-contents');
                products.forEach(function(product) {
                    container.append(`
                        <div class="product-pop-item">
                            <a href="product/detail/${product.prefItem}" class="product-link">
                                <img src="${product.bigImage}" alt="${product.pname}">
                                <p>${truncateString(product.pname, 26)}<br>₩${product.bprice.toLocaleString()}</p>
                            </a>
                        </div>
                    `);
                });
            }

            function renderUnRegProducts(products) {
                let container = $('#product-un-reg-contents');
                products.forEach(function(product) {
                    container.append(`
                        <div class="product-un-reg-item">
                            <a href="product/detail/${product.prefItem}" class="product-link">
                                <img src="${product.bigImage}" alt="${product.pname}">
                                <p>${truncateString(product.pname, 26)}<br>₩${product.bprice.toLocaleString()}</p>
                            </a>
                        </div>
                    `);
                });
            }

            function renderRegProducts(products) {
                let container = $('#product-reg-contents');
                products.forEach(function(product) {
                    container.append(`
                        <div class="product-reg-item">
                            <a href="product/detail/${product.prefItem}" class="product-link">
                                <img src="${product.bigImage}" alt="${product.pname}">
                                <p>${truncateString(product.pname, 26)}<br>₩${product.bprice.toLocaleString()}</p>
                            </a>
                        </div>
                    `);
                });
            }

            function truncateString(str, num) {
                if (str.length > num) {
                    return str.substring(0, num) + '...';
                } else {
                    return str;
                }
            }

            $('#pop-more').on('click', function () {
                window.location.href = '/product/by-category?flag=1&crefItem=1&categoryName=인기상품';
            });

            $('#reg-more').on('click', function () {
                window.location.href = '/product/by-category?flag=999&crefItem=0&categoryName=고객사등록상품';
            });

            $('#un-reg-more').on('click', function () {
                window.location.href = '/product/by-category?flag=999&crefItem=0&categoryName=고객사미등록상품';
            });

            $('#product-pop-contents').on('scroll', function() {
                let $this = $(this);
                let scrollLeft = $this.scrollLeft();
                let scrollWidth = $this[0].scrollWidth;
                let innerWidth = $this.innerWidth();

                if (scrollLeft + innerWidth >= scrollWidth) {
                    loadPopProductData();
                }

                $('#pop-scroll-left').toggle(scrollLeft > 0);
            });

            $('#product-reg-contents').on('scroll', function() {
                let $this = $(this);
                let scrollLeft = $this.scrollLeft();
                let scrollWidth = $this[0].scrollWidth;
                let innerWidth = $this.innerWidth();

                if (scrollLeft + innerWidth >= scrollWidth) {
                    loadRegProductData();
                }

                $('#reg-scroll-left').toggle(scrollLeft > 0);
            });

            $('#product-un-reg-contents').on('scroll', function() {
                let $this = $(this);
                let scrollLeft = $this.scrollLeft();
                let scrollWidth = $this[0].scrollWidth;
                let innerWidth = $this.innerWidth();

                if (scrollLeft + innerWidth >= scrollWidth) {
                    loadUnRegProductData();
                }

                $('#un-reg-scroll-left').toggle(scrollLeft > 0);
            });

            $('#reg-scroll-left').click(function() {
                regContainer.animate({ scrollLeft: '-=400px' }, 400);
            });

            $('#reg-scroll-right').click(function() {
                regContainer.animate({ scrollLeft: '+=400px' }, 400);
            });

            $('#un-reg-scroll-left').click(function() {
                unRegContainer.animate({ scrollLeft: '-=400px' }, 400);
            });

            $('#un-reg-scroll-right').click(function() {
                unRegContainer.animate({ scrollLeft: '+=400px' }, 400);
            });

            $('#pop-scroll-left').click(function() {
                popContainer.animate({ scrollLeft: '-=400px' }, 400);
            });

            $('#pop-scroll-right').click(function() {
                popContainer.animate({ scrollLeft: '+=400px' }, 400);
            });

            loadPopProductData();
            loadUnRegProductData();
            loadRegProductData();
        });
    </script>

</body>
</html>
