<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/fragments/common :: common-head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
</head>
<body>

    <div th:replace="~{layout/header :: header}"></div>

    <div class="main-content">
        <div id="grid-container">
            <div>
                <div class="image-container">
                    <img src="/images/icons/mypage/approval.png" alt="결재조회">
                </div>
                <p>결재조회</p>
            </div>
            <div>
                <div class="image-container">
                    <img src="/images/icons/mypage/budget.png" alt="예산조회">
                </div>
                <p>예산조회</p>
            </div>
            <div>
                <div class="image-container">
                    <img src="/images/icons/mypage/estimate.png" alt="예산조회">
                </div>
                <p>견적현황</p>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div th:replace="~{layout/footer :: footer}"></div>

    <div th:replace="~{layout/fragments/common :: common-scripts}"></div>
</body>
</html>
