<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/fragments/common :: common-head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/cart/cartList.css}">
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>

<div class="container mt-3">
    <h2 class="text-center mb-3">장바구니</h2>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="select-all">
            <label class="form-check-label" for="select-all">
                전체 선택
            </label>
        </div>
        <div>
            <button class="btn btn-outline-secondary btn-sm" type="button" id="btn-delete-selected">선택 삭제</button>
<!--            <button class="btn btn-outline-secondary btn-sm" type="button" id="btn-delete-sold-out">품절상품 모두삭제</button>-->
        </div>

    </div>

    <div id="cart-contents"></div>

</div>

<div class="fixed-footer" id="checkout-footer" style="display: none;">
    <div class="payment-info" id="total-info"></div>
    <button class="pay-button" onclick="alert('결제하기 개발중')"></button>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">품목 삭제 확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                해당 품목을 장바구니에서 삭제하시겠습니까
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDelete">삭제</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/footer :: footer}"></div>
<div th:replace="~{layout/fragments/common :: common-scripts}"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function loadCartData() {
            $.ajax({
                url: '/api/cart/cartList',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    if (data && !$.isEmptyObject(data.groupedOrders)) {
                        $.each(data.groupedOrders, function(manufacturer, items) {
                            let group = $('<div class="cart-group"></div>').appendTo('#cart-contents');
                            let groupId = 'group-' + items[0].manufactureId;
                            let groupHeader = $('<div class="group-header"></div>').appendTo(group);
                            $('<input type="checkbox" class="form-check-input group-select" id="' + groupId + '" >').appendTo(groupHeader);
                            $('<label for="' + groupId + '"><h4>' + manufacturer + '</h4></label>').appendTo(groupHeader);

                            items.forEach(function(item) {
                                renderCartItem(item).appendTo(group);
                            });

                            // 그룹 선택 시 합계금액 갱신
                            $('#' + groupId).change(function() {
                                let isChecked = $(this).is(':checked');
                                let group = $(this).closest('.cart-group');
                                resetGroupTotal(group);
                                group.find('.item-select').prop('checked', isChecked);
                                calculateGroupTotal(group);
                                calculateTotalAndShowFooter();
                            });

                            let gropuTotal = $('<div class="group-total" style="display:none;"></div>').appendTo(group);

                            // 상품 선택 시 합계금액 갱신
                            group.find('.item-select').change(function() {
                                calculateGroupTotal($(this).closest('.cart-group'));
                                calculateTotalAndShowFooter();
                            });
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error('데이터 로드 실패:', error);
                }
            });
        }

        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function renderCartItem(item) {
            let cartItem = $('<div class="cart-item"></div>')
                .attr('data-ci-ref-item', item.ciRefItem)
                .data('bplRefItem', item.bplRefItem)
                .data('ciRefItem', item.ciRefItem)
                .data('prefItem', item.prefItem)
                .data('delCharge', item.delCharge)
                .data('delChargeYn', item.delChargeYn)
                .data('oQty', item.oQty)
                .data('bprice', item.bprice);

            let imageUrl = item.bigImage ? item.bigImage : '/images/noimage.gif';

            // 상품명
            $('<h6></h6>').addClass('product-name').text(item.pname).appendTo(cartItem);

            // 상품 상세정보와 컨트롤을 포함하는 행
            let detailsRow = $('<div class="product-details-row d-flex align-items-center"></div>').appendTo(cartItem);

            // 이미지
            $('<div class="product-image" style="background-image: url(' + imageUrl + ');"></div>').appendTo(detailsRow);

            // 상단 컨트롤 행 (체크박스,규격,삭제 버튼)
            let controls = $('<div class="product-controls d-flex flex-column"></div>').appendTo(detailsRow);
            let controlsTop = $('<div class="controls-top d-flex justify-content-between align-items-center"></div>').appendTo(controls);
            let leftControls = $('<div class="left-controls d-flex align-items-center"></div>').appendTo(controlsTop);
            let checkboxId = 'item-' + item.prefItem; // 체크박스와 라벨
            let checkbox = $('<input class="form-check-input item-select" type="checkbox" id="' + checkboxId + '" data-price="' + item.bprice + '">');
            checkbox.data('delChargeYn', item.delChargeYn).data('delCharge', item.delCharge).appendTo(leftControls);
            let descriptionText = item.description.length > 24 ? item.description.substring(0, 24) + '...' : item.description;
            $('<label class="spec-text" for="' + checkboxId + '"></label>').text(descriptionText).appendTo(leftControls);
            $('<button class="delete-button btn btn-danger btn-sm">×</button>').appendTo(controlsTop);

            // 하단 컨트롤 행 (수량 조절, 가격 정보)
            let controlsBottom = $('<div class="controls-bottom d-flex justify-content-between align-items-center"></div>').appendTo(controls);
            let quantityControl = $('<div class="quantity-control d-flex align-items-center"></div>').appendTo(controlsBottom);
            $('<button class="btn btn-success btn-sm btn-decrease">-</button>').appendTo(quantityControl);
            $('<input type="text" class="form-control quantity-input" min="1" style="width: 38px;" readonly="readonly">').val(item.oQty).appendTo(quantityControl);
            $('<button class="btn btn-success btn-sm btn-increase">+</button>').appendTo(quantityControl);
            $('<div class="price-detail ml-2"></div>').text(formatNumber(item.bprice) + '원').appendTo(controlsBottom);

            return cartItem;
        }

        function resetGroupTotal(group) {
            let totalDiv = group.find('.group-total');
            totalDiv.data('total', 0); // 총합 데이터 초기화
            totalDiv.html(''); // 내용 비우기
            totalDiv.hide(); // 숨기기
        }

        function calculateGroupTotal(group) {
            resetGroupTotal(group); // 총합 초기화
            let deliveryFee = 0;
            group.find('.item-select:checked').each(function() {
                let item = $(this).closest('.cart-item');
                let price = parseFloat(item.data('bprice'));
                let quantity = parseInt(item.find('.quantity-input').val());
                let totalPrice = price * quantity;

                updateGroupTotal(group, totalPrice, true);

                // 배송비 계산
                let delChargeYn = $(this).data('delChargeYn');
                let delCharge = parseFloat($(this).data('delCharge'));
                if (delChargeYn === 'Y') {
                    deliveryFee += delCharge;
                }
            });
            updateDeliveryFee(group, deliveryFee); // 배송비 업데이트
        }

        function updateDeliveryFee(group, deliveryFee) {
            let deliveryDiv = group.find('.group-total');
            let formattedDeliveryFee = formatNumber(deliveryFee);
            deliveryDiv.append('<div class="fee-amount-div"><span class="delivery-fee">배송비</span> <span class="fee-amount">' + formattedDeliveryFee + '</span>원</div>');
        }

        function updateGroupTotal(group, price, isChecked) {
            let totalDiv = group.find('.group-total');
            let currentTotal = parseFloat(totalDiv.data('total')) || 0;
            currentTotal += (isChecked ? price : -price);
            totalDiv.data('total', Math.max(0, currentTotal)); // 음수 방지
            let formattedTotal = formatNumber(currentTotal);
            totalDiv.html('<div class="total-amount-div"><span class="total-text">합계금액</span> <span class="total-amount">' + formattedTotal + '</span>원</div>');
            if (currentTotal > 0) {
                totalDiv.slideDown();
            } else {
                totalDiv.slideUp();
            }
        }

        function calculateTotalAndShowFooter() {
            let totalAmount = 0;
            let totalDeliveryFee = 0;
            $('.cart-group').each(function() {
                let group = $(this);
                let groupTotal = parseFloat(group.find('.group-total').data('total')) || 0;
                totalAmount += groupTotal;

                // 각 그룹의 배송비 합산
                group.find('.item-select:checked').each(function() {
                    let delChargeYn = $(this).data('delChargeYn');
                    let delCharge = parseFloat($(this).data('delCharge'));
                    if (delChargeYn === 'Y') {
                        totalDeliveryFee += delCharge;
                    }
                });
            });

            // 전체 합계가 0보다 크면 footer 표시, 아니면 숨김
            if (totalAmount > 0 || totalDeliveryFee > 0) {
                $('#total-info').text('상품 ' + formatNumber(totalAmount) + ' + 배송비 ' + formatNumber(totalDeliveryFee) + '원');
                $('.pay-button').text(formatNumber(totalAmount + totalDeliveryFee) + '원 결제하기');
                $('#checkout-footer').show();
            } else {
                $('#checkout-footer').hide();
            }
        }

        // 수량조정 핸들러
        function handleQuantityChange(cartItem, delta) {
            let quantityInput = cartItem.find('.quantity-input');
            let currentQuantity = parseInt(quantityInput.val());
            let newQuantity = currentQuantity + delta;

            if (newQuantity < 1) {
                return; // 수량이 1 미만으로 감소하지 않도록 방지하고 요청을 보내지 않음
            }

            if (newQuantity !== currentQuantity) {
                changeQty(cartItem, newQuantity);
            }
        }

        //수량조정 서버와 통신
        function changeQty(cartItem, currentQuantity) {
            let ciRefItem = cartItem.data('ciRefItem');
            let bplRefItem = cartItem.data('bplRefItem');
            $.ajax({
                url: '/api/cart/changeQty',
                type: 'PATCH',
                contentType: 'application/json',
                data: JSON.stringify({
                    ciRefItem: ciRefItem,
                    bplRefItem: bplRefItem,
                    newQuantity: currentQuantity
                }),
                success: function(response) {
                    // 성공적인 응답 후 입력 필드와 가격 정보 업데이트
                    let quantityInput = cartItem.find('.quantity-input');
                    quantityInput.val(currentQuantity); // 입력 필드 업데이트
                    let group = cartItem.closest('.cart-group');
                    calculateGroupTotal(group); // 변경된 수량에 따라 그룹 합계를 다시 계산
                    calculateTotalAndShowFooter(); // 전체 합계 갱신
                },
                error: function(error) {
                    console.error("Failed to update quantity", error);
                }
            });
        }

        // 그룹 내 품목이 없으면 그룹 삭제
        function checkAndRemoveGroupIfNeeded(group) {
            if (group.find('.cart-item').length === 0) {
                group.remove();
                return false; // 그룹이 삭제됐으므로 합계 재계산 불필요
            }
            return true; // 그룹이 남아있으므로 합계 재계산 필요
        }

        // 개별 항목 삭제 함수
        function deleteCartItem(ciRefItem, cartItem) {
            $.ajax({
                url: `/api/cart/${ciRefItem}`,
                type: 'DELETE',
                success: function(response) {
                    let group = cartItem.closest('.cart-group');
                    cartItem.remove(); // 해당 품목 삭제
                    if (checkAndRemoveGroupIfNeeded(group)) { // 그룹 내 품목 체크 후 필요시 그룹 삭제
                        calculateGroupTotal(group); // 그룹 합계 재계산
                    }
                    calculateTotalAndShowFooter(); // 전체 합계 갱신
                },
                error: function(error) {
                    console.error("Failed to delete item", error);
                }
            });
        }

        // 선택된 여러 항목 삭제 함수
        function deleteMultipleCartItems(idsToDelete) {
            $.ajax({
                url: '/api/cart/deleteMultiple',
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify(idsToDelete),
                success: function(response) {
                    idsToDelete.forEach(id => {
                        let cartItem = $(`.cart-item[data-ci-ref-item="${id}"]`);
                        let group = cartItem.closest('.cart-group');
                        cartItem.remove(); // 해당 품목 삭제
                        if (checkAndRemoveGroupIfNeeded(group)) { // 그룹 내 품목 체크 후 필요시 그룹 삭제
                            calculateGroupTotal(group); // 그룹 합계 재계산
                        }
                    });
                },
                error: function(error) {
                    console.error("Failed to delete multiple items", error);
                }
            });
        }

        // 모달에서 '삭제' 버튼 클릭 시
        $('#confirmDelete').on('click', function() {
            let deleteType = $('#deleteConfirmationModal').data('deleteType');
            if (deleteType === 'single') {
                let cartItem = $('#deleteConfirmationModal').data('cartItem');
                let ciRefItem = cartItem.data('ciRefItem');
                deleteCartItem(ciRefItem, cartItem);
            } else if (deleteType === 'multiple') {
                let selectedItems = $('.item-select:checked');
                let idsToDelete = Array.from(selectedItems).map(input => $(input).closest('.cart-item').data('ciRefItem'));
                deleteMultipleCartItems(idsToDelete);
            }
            $('#deleteConfirmationModal').modal('hide');
        });

        // 개별삭제(x버튼) 버튼 클릭 시 - 모달띄워줌
        $('#cart-contents').on('click', '.delete-button', function() {
            let cartItem = $(this).closest('.cart-item');
            $('#deleteConfirmationModal').data('deleteType', 'single').data('cartItem', cartItem); // 모달에 single, cartItem 데이터 설정
            $('#deleteConfirmationModal').modal('show'); // 모달 표시
        });

        // 플러스 버튼 클릭 시
        $('#cart-contents').on('click', '.btn-increase', function() {
            let cartItem = $(this).closest('.cart-item');
            handleQuantityChange(cartItem, 1);
        });

        // 마이너스 버튼 클릭 시
        $('#cart-contents').on('click', '.btn-decrease', function() {
            let cartItem = $(this).closest('.cart-item');
            handleQuantityChange(cartItem, -1);
        });

        // 선택삭제 버튼 클릭 시 - 모달 설정과 표시
        $('#btn-delete-selected').on('click', function() {
            if ($('.item-select:checked').length === 0) {
                alert('삭제할 항목을 선택하세요.');
                return;
            }
            $('#deleteConfirmationModal').data('deleteType', 'multiple');
            $('#deleteConfirmationModal').modal('show');
        });

        $('#select-all').change(function() {
            let isChecked = $(this).is(':checked');
            $('.group-select').prop('checked', isChecked);
            $('.item-select').prop('checked', isChecked);
            $('.cart-group').each(function() {
                calculateGroupTotal($(this)); // 전체 그룹의 합계 갱신
            });

            calculateTotalAndShowFooter();
        });

        $('.item-select').change(function() {
            calculateTotalAndShowFooter();
        });

        loadCartData();
    });
</script>

</body>
</html>
