<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MRO Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Your CSS styles */
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="login-title text-center">로그인</h2>
                    <p class="text-center">환영합니다! 계속하려면 로그인하세요.</p>
                    <div th:if="${messageLine1} or ${messageLine2}" class="alert alert-danger" role="alert">
                        <span th:text="${messageLine1}"></span><br>
                        <span th:text="${messageLine2}"></span>
                    </div>
                    <form th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="userid">아이디</label>
                            <input type="text" class="form-control" id="userid" name="userid" placeholder="Enter user ID" ondblclick="this.select()">
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" ondblclick="this.select()">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">로그인</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>