<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layout/fragments/common :: common-head"></th:block>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

    <div th:replace="layout/header :: header"></div>

    <div class="main-content">
        <div id="grid-container">
            <div>
                <div class="image-container">
                    <img src="/images/icons/main/popitem.png" alt="인기상품">
                </div>
                <p>인기상품</p>
            </div>
            <div>
                <div class="image-container">
                    <img src="/images/icons/main/approval.png" alt="결재조회">
                </div>
                <p>결재조회</p>
            </div>
            <div>
                <div class="image-container">
                    <img src="/images/icons/main/budget.png" alt="예산조회">
                </div>
                <p>예산조회</p>
            </div>
            <div>
                <div class="image-container">
                    <img src="/images/icons/main/estimate.png" alt="예산조회">
                </div>
                <p>견적현황</p>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div th:replace="layout/footer :: footer"></div>

    <div th:replace="layout/fragments/common :: common-scripts"></div>
</body>
</html>
